<div class="container-fluid color-light">
  <div class="row">
    <div class="container">
      <form class="form-horizontal" (keydown.enter)="$event.preventDefault()">
        <div class="row">
          <div class="col-md-2 col-lg-3"></div>
            <div class="col-md-8 col-lg-6">
                <div class="form-group">
                  <div class="input-group">
                      <div class="input-group-addon"><i class="fa fa-search"></i></div>
                      <input type="text" name="activity" id="activity" class="form-control" [(ngModel)]="activity"
                              placeholder="Τι αναζητάτε;" required>
                              <!-- autofocus -->
                  </div>
                </div>
            </div>
        </div>
    
        <div class="row">
          <div class="col-md-2 col-lg-3"></div>
            <div class="col-md-8 col-lg-6">
                <div class="form-group">
                  <div class="input-group">
                      <button matTooltip="Press me to open map!" (click)="openMap()" id="GPS_button" type="button"><div id="GPS_addon" class="input-group-addon"><i class="fa fa-map-marker"></i></div></button>
                      <input (click)="write()" type="text" name="location" class="form-control" id="location"
                              placeholder="Σε ποια περιοχή;" required
                              autocorrect="off" autocapitalize="off" spellcheck="off" #search [formControl]="searchControl">
                  </div>
                </div>
            </div>
        </div>
    
        <div class="row">
          <div class="col-md-3 col-lg-4"></div> 
          <div class="col-md-3 col-lg-2">
            <button (click)="onSubmit()" type="button" class="btn">Αναζήτηση</button>
          </div>
          <div class="col-md-3 col-lg-2">
            <button (click)="show_categories = !show_categories" class="btn">Όλες οι κατηγορίες</button>
          </div>
        </div>
      </form>
    </div>

    <div *ngIf="show_categories" class="container categories align-items-stretch">
      <div class="btn-group" data-toggle="buttons"
        *ngFor="let category of categories" 
        (click)="onSelect(category)">
        <label class="btn btn-outline-info">
          <input type="checkbox"> {{category.name}}
        </label>
      </div>
    </div>
  </div>
</div>