<div class="container-fluid">
  <div class="row">
    <span class="col-md-3"></span>
    <div class="col text-center">
      <input class="form-control form-control-lg" type="text" placeholder="Τίτλος Δραστηριότητας">
    </div>

    <span class="col-0 col-md-3"></span>

  </div>



  <div class="row">
    <div class="col-12 col-md-3 text-center">
      <!-- <img class="image" src="{{category.img}}">
      <button (click)="onSubmit()" type="button" class="btn buy">Προσθήκη Εικόνας</button> -->

      <img class="card uploadImage" [src]="url">
      <input type='file' (change)="readUrl($event)">
      <button (click)="uploadFileToActivity()">Upload File</button>

      <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="true" [zoom]="13">
        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
      </agm-map>
    </div>

    <div class="col-12 col-md-6">
      <div class="form-group">
        <div class="input-group">
          <button matTooltip="Press me to open map!" (click)="openMap()" id="GPS_button" type="button">
            <div id="GPS_addon" class="input-group-addon">
              <i class="fa fa-map-marker"></i>
            </div>
          </button>
          <input (click)="write()" type="text" name="location" class="form-control" id="location" placeholder="Διεύθυνση" required
            autocorrect="off" autocapitalize="off" spellcheck="off" #search [formControl]="searchControl">
        </div>
      </div>
      <div class="details">
        <div>
          <input matInput [matDatepicker]="picker" placeholder="Ημερομηνία">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </div>
        <div class="details">
          <u>Κατηγορίες:</u>
        </div>
        <div class="details">
          <u>Ηλικίες:</u>
          <div class="row">
            <input class="col-1 form-control form-control-sm" type="text" placeholder="Από"> &nbsp;
            <input class="col-1 form-control form-control-sm" type="text" placeholder="Μέχρι">
          </div>
        </div>
        <u>Περιγραφή:</u>
        <form>
          <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
          </div>
        </form>
        <div class="details">
          <u>Τιμή:</u>
          <div class="row">
            <input class="col-1 form-control form-control-sm" type="text" placeholder="Ευρώ"> &nbsp;
            <input class="col-1 form-control form-control-sm" type="text" placeholder="Λεπτά">
          </div>
        </div>
      </div>

    </div>
    <div class=" col-12 col-md-3">
      <button (click)="createEvent()" type="button" class="btn">
        <div>
          <i class="fa fa-check"></i>
        </div>Δημιουργία</button>
      <button (click)="cancelEvent()" type="button" class="btn">
        <div>
          <i class="fa fa-times"></i>
        </div>Ακύρωση</button>
    </div>
  </div>
</div>

<li *ngFor="let cat of categories">

<div class="form-check">
  <input type="checkbox" class="form-check-input" id="catCheck">
  <label class="form-check-label" for="catCheck">



  </label>
</div>

</li>