<div class="card" *ngFor="let event of arrayOfEvents">
  <div class="row">
    <div class="col-lg-2 col-md-3 col-5 text-center" id="img-card">
      <img class="card-img-top" src="{{event.img}}" alt="Card image cap">
      <div *ngIf="userDetailsService.getUserType() === 'Parent'">
        Πόντοι: {{event.id}}
      </div>
      <div *ngIf="userDetailsService.getUserType() === 'Provider'">
        Εισπραχθέν ποσό:
      </div>
    </div>
    <div class="col-lg-7 col-md-5 col-7">
      <!-- <h5 class="card-title text-center">{{event.name}}</h5> -->
      <h5 *ngIf="userDetailsService.getUserType() === 'Parent'" class="card-title text-center">{{event.name}}</h5>      
      <h5 style="color: red"  *ngIf="(userDetailsService.getUserType() === 'Provider') && (event.is_paid) " class="card-title text-center">{{event.name}} (Εκκρεμεί)</h5>
      <h5 style="color: green"  *ngIf="(userDetailsService.getUserType() === 'Provider') && (!event.is_paid)" class="card-title text-center">{{event.name}} (Καταβλήθηκε) </h5>
      <div class="row">
        <div class="col-md">
          Τοποθεσία: {{event.location}}
        </div>
        <div class="col-md">
          Ημερομηνία: {{event.date}}
        </div>
      </div>
      <div class="row">
        <div class="col-md">
          <p class="card-text">
            Πάροχος: {{event.provider_id}}
          </p>
        </div>
        <div class="col-md">
          <p class="card-text">
            Ηλικίες: {{event.age_min}}-{{event.age_max}}
          </p>
        </div>
      </div>
      <div>
        <a href="#" routerLink="/activity/{{event.id}}">Λεπτομέρειες Δραστηριότητας</a>
      </div>
    </div>
    <!-- MAP -->
    <div class="col-lg-3 col-md-4 col">
      <agm-map id="single" [latitude]="event.lat" [longitude]="event.lng" [scrollwheel]="true" [zoom]="13">
        <agm-marker [latitude]="event.lat" [longitude]="event.lng"></agm-marker>
      </agm-map>
    </div>
  </div>
</div>