/* Categories List */

.categories .btn {
    padding: 1.5rem 1rem;
    margin-right: 5px;
}

.categories .btn-outline-info.focus {
    box-shadow: 0 0 0 0rem;
}

.categories .btn-outline-info:not([disabled]):not(.disabled).active {
    box-shadow: 0 0 0 0rem;
}

/* Single event */

#img-card {
    padding: 0 0;
}

#single {
    height: 100%;
}

.card-img-top {
    height: 80%;
    width: 80%;
}

/* Filters */

ul {
    list-style-type:none;
    margin:0 0 2em 0;
    padding:0;
}
ul li {
    /* display:inline; */
    margin-right: 0px;
    margin-top: 1rem;
}
ul li a {
    font-size: 1.5em;
}

/* MAP */

agm-map {
    height: 300px;
}

/* MatSideNav - Page Style */

#search_container {
    padding-left: 0px;
    padding-right: 0px;
}

.example-sidenav {
    position: fixed;
    top: 4rem;
    bottom: 0;
    left: 0;
    right: 0;
}

.example-radio-group {
    border: none;
    background-color: #efefef;
    margin: 20px;
    padding: 5px;
    /* border-radius: 20px; */
    /* border-top-left-radius: 20px; */
    /* border-bottom-left-radius: 20px; */
}

.example-radio-group:focus { 
    outline: none;
 }
/*Events List*/
.card {
    margin-top: 40px;
}
