<div class="container-fluid color-light" id="search_container">
  <div class="mat-app-background basic-container">
    <mat-sidenav-container class="example-container">
      <mat-sidenav #sidenav mode="side" class="col-lg-2 col-md-3 text-center example-sidenav">
        <!-- <p>
          <button mat-button class="example-radio-group" (click)="show_filters=!show_filters; sidenav.toggle()">Κλείσιμο</button>
        </p> -->
        <div class="text-right">
          <button mat-icon-button color="secondary" (click)="show_filters=!show_filters; sidenav.toggle()">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
        <ul>
          <li class="nav-item">
            <div>
              Κόστος πόντων: {{cost}}
            </div>
            <div>
              <mat-slider thumbLabel tickInterval="auto" min="0" max="100" step="10" [value]="cost" [(ngModel)]="cost" (drag)=selectCost(cost)></mat-slider>
            </div>
          </li>
          <li class="nav-item">
            <div>
              Ηλικία:
              <input type="text" size="2" maxlength="2" class="age" [(ngModel)]="age">
            </div>
          </li>
          <li class="nav-item">
            <div>
              Απόσταση: {{distance}}km
            </div>
            <div>
              <mat-slider thumbLabel tickInterval="auto" min="0" max="10" step="1" [value]="distance" [(ngModel)]="distance" (drag)=selectCost(cost)></mat-slider>
            </div>
          </li>
          <li>
            <button mat-button class="example-radio-group"  (click)="filters()">Εφαρμογή Φίλτρων</button>
          </li>
        </ul>
      </mat-sidenav>

      <mat-sidenav-content>
        <div class="container-fluid categories align-items-stretch">
          <div class="row">
            <div *ngIf="!show_filters">
              <button mat-button class="example-radio-group" (click)="show_filters=!show_filters; sidenav.toggle()">Φίλτρα Αναζήτησης</button>
            </div>
            <button mat-button class="example-radio-group" (click)="show_map = !show_map">Εμφάνιση Αποτελεσμάτων σε χάρτη</button>
          </div>

          <!-- Categories -->
          <!-- <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"  [checked]="findChecked(cat)"> -->
          <label *ngFor="let cat of categories;" class="btn btn-outline-info" for="defaultCheck1" [class.active]="findChecked(cat)" (click)="onSelect(cat)">
            {{cat.name}}
          </label>
        </div>

        <!-- MAP -->
        <div *ngIf="show_map" class="container-fluid">
          <div class="form-group">
          </div>
          <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom" fullscreenControl="true">
            <agm-marker *ngFor="let ev of events;" [latitude]="ev.lat" [longitude]="ev.lng" [label]="ev.id.toString()">
              <agm-info-window>
                <strong>{{ev.name}}</strong>
              </agm-info-window>
            </agm-marker>
          </agm-map>
        </div>

        <!-- Events -->
        <div class="container-fluid">
          <div class="categories_show">
            <div class="card" *ngFor="let event of events">
              <div class="row">
                <div class="col-lg-2 col-md-3 col-5 text-center" id="img-card">
                  <img class="card-img-top" src="{{event.img}}" alt="Card image cap">
                  <div>
                    Πόντοι: {{event.id}}
                  </div>
                </div>
                <div class="col-lg-7 col-md-5 col-7">
                  <h5 class="card-title text-center">{{event.name}}</h5>
                  <div class="row">
                    <div class="col-md">
                      Τοποθεσία: {{event.location}}
                    </div>
                    <div class="col-md">
                      Ημερομηνία: {{event.date}}
                    </div>
                  </div>
                  <!-- <div class="border border-secondary">
                    <p class="card-text">
                      Περιγραφή: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                  </div> -->
                  <div class="row">
                    <!-- <div class="col-md">
                      <p class="card-text">
                        Πάροχος: {{event.provider_id}}
                      </p>
                    </div> -->
                    <div class="col-md">
                      <p class="card-text">
                        Ηλικίες: {{event.age_min}}-{{event.age_max}}
                      </p>
                    </div>
                    <div class="col-md">
                        <p class="card-text">
                          Διαθέσιμα Εισιτήρια:
                        </p>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-md">
                      <p class="card-text">
                        <!-- Διαθέσιμα Εισιτήρια: -->
                        Κατηγορίες:
                      </p>
                    </div>
                  </div>
                  <div>
                    <p class="card-text">
                      Πάροχος: {{event.provider_id}} &nbsp; Μπάμπης &nbsp; Αλόγου &nbsp; 210-1234567
                    </p>
                  </div>
                  <div>
                    <a href="#" routerLink="/activity/{{event.id}}">Λεπτομέρειες Δραστηριότητας</a>
                  </div>

                </div>
                <div class="col-lg-3 col-md-4 col">
                  <agm-map id="single" [latitude]="event.lat" [longitude]="event.lng" [scrollwheel]="true" [zoom]="13">
                    <agm-marker [latitude]="event.lat" [longitude]="event.lng"></agm-marker>
                  </agm-map>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>