header {
    text-align: center;
    background-color: #f8f9fa;
    font-size: 1.5rem;
}

h1 {
    text-align: center;
    padding-top: 20px;
}
h5 {
    text-align: center;
    padding-top: 20px;
}
/* Page Layout */

.container-fluid {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Content */

.form-control {
    font-size: 85%;
}

.field-label-responsive{
    text-align: center;
}