.container {
    text-align: center;
    padding-top: 100px;
}

.container-fluid {
    background: url(../../bgdimg1.jpg) center no-repeat;
    background-size: cover;
    position: fixed;
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
}

/* button {
    background-color: #17a2b8;
} */

.btn-link {
    color: #17a2b8;
}