<div class="container-fluid">
  <div class="row">
    <span class="col-md-3"></span>
    <div style="padding-top: 1rem" class="col-2 col-md-1">
      Τίτλος:
    </div>
    <div class="col-8 col-md-4 text-center">
      <input class="form-control" type="text" placeholder="Τίτλος Δραστηριότητας" [(ngModel)]="name">
    </div>
    <span class="col-0 col-md-3"></span>
  </div>

  <div class="row">
    <div class="col-12 col-md-3 text-center">
      <img class="image" src="{{img}}">
      <!-- <img class="card uploadImage" [src]="url">
      <input type='file' (change)="readUrl($event)">
      <button (click)="uploadFileToActivity()">Upload File</button> -->
    </div>

    <div class="col-12 col-md-6">
      Διεύθυνση: {{location}}
      <div class="details">
        <div>
          <input matInput [matDatepicker]="picker" placeholder="Ημερομηνία" [(ngModel)]="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </div>
        <div class="details">
          <u>Κατηγορίες:</u>
          <label *ngFor="let cat of categories;">
            {{cat}}
          </label>
        </div>

        <div class="details">
          <u>Ηλικίες:</u>
          <div class="row">
            <input class="col-1 form-control form-control-sm" type="text" placeholder="Από" [(ngModel)]="age_min"> &nbsp;
            <input class="col-1 form-control form-control-sm" type="text" placeholder="Μέχρι" [(ngModel)]="age_max">
          </div>
        </div>
        <u>Περιγραφή:</u>
        <form>
          <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="description" [(ngModel)]="description"></textarea>
          </div>
        </form>
        <div class="details">
          <u>Τιμή:</u>
          <div class="row">
            <input class="col-1 form-control form-control-sm" type="text" placeholder="Ευρώ" [(ngModel)]="euros"> &nbsp;
            <input class="col-1 form-control form-control-sm" type="text" placeholder="Λεπτά" [(ngModel)]="cents">
          </div>
        </div>
      </div>

    </div>
    <div class=" col-12 col-md-3">
      <button (click)="updateEvent()" type="button" class="btn">
        <div>
          <i class="fa fa-check"></i>
        </div>Αλλαγή</button>
      <button (click)="cancelEvent()" type="button" class="btn">
        <div>
          <i class="fa fa-times"></i>
        </div>Ακύρωση</button>
    </div>
  </div>



</div>