/* Navbar */

.navbar {
    padding: .0rem .0rem;
    z-index: 2000;
}

.nav-link {
    font-size: 3vh;
}

a {
    color:#000;
    text-decoration:none;
}

/* Form */

input {
    padding: .0rem .3rem;
    border: 0px solid #ced4da;
}

#GPS_button {
    width: 2.6rem;
    padding: 0 0 0 0;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-right-style: none;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#GPS_addon {
    border: 1px solid #ced4da;
    border-right: 0;
    border: none;
    display: flex;
    padding-left: 14px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 1.3rem;
    color: red;
}

.btn {
    padding: .2rem .5rem;
}

/* MAP */

agm-map {
    height: 500px;
}