<nav class="navbar navbar-expand-xl navbar-light bg-light">
  <div class="nav-item active ">
    <a class="nav-link" routerLink="">Λεωνίδα ένα Άλογο
      <span class="sr-only">(current)</span>
    </a>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarToggler"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">

    <form *ngIf="this.categoriesService.getNavbar()" class="form-inline ml-auto" (ngSubmit)="onSubmit()">
      <label class="sr-only">Search</label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div class="input-group-addon">
          <i class="fa fa-search"></i>
        </div>
        <input type="text" name="activity" id="activity" class="form-control" [(ngModel)]="activity" placeholder="Τι αναζητάτε;"
          required>
        <!-- autofocus -->
      </div>
      <label class="sr-only">Location</label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <button matTooltip="Press me to open map!" (click)="openMap()" id="GPS_button" type="button">
          <div id="GPS_addon" class="input-group-addon" style="width: 2.6rem">
            <i class="fa fa-map-marker"></i>
          </div>
        </button>
        <input (click)="write()" type="text" name="tempLocation" id="tempLocation" class="form-control" placeholder="Σε ποια περιοχή;"
          required autocorrect="off" autocapitalize="off" spellcheck="off" #searchNav [formControl]="searchControlNav">
      </div>
      <div>
        <button type="submit" class="btn btn-outline-info">Αναζήτηση</button>
      </div>
    </form>

    <div *ngIf="userDetailsService.getUserType() === 'Anonymous'" class="ml-auto">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <div>
            <a class="nav-link" routerLink="register">Εγγραφή</a>
          </div>
        </li>
        <li class="nav-item">
          <div>
            <!-- data-toggle="collapse" data-target=".navbar-collapse" -->
            <a class="nav-link" routerLink="login">Σύνδεση</a>
          </div>
        </li>
      </ul>
    </div>

    <div *ngIf="userDetailsService.getUserType() === 'Parent'" class="ml-auto">
      <ul class="nav navbar-nav">
          <li class="nav-item">
              <div>
                <a class="nav-link" routerLink="wallet">Πόντοι</a>
              </div>
            </li>
        <li class="nav-item">
          <div>
            <a class="nav-link" routerLink="panel">Λογαριασμός</a>
          </div>
        </li>
        <li class="nav-item">
          <div>
            <!-- data-toggle="collapse" data-target=".navbar-collapse" -->
            <a class="nav-link" (click)="exit()">Έξοδος</a>
          </div>
        </li>
      </ul>
    </div>

    <div *ngIf="userDetailsService.getUserType() === 'Provider'" class="ml-auto">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <div>
            <a class="nav-link" routerLink="panel">Πάνελ</a>
          </div>
        </li>
        <li class="nav-item">
          <div>
            <!-- data-toggle="collapse" data-target=".navbar-collapse" -->
            <a class="nav-link" (click)="exit()">Έξοδος</a>
          </div>
        </li>
      </ul>
    </div>


  </div>

</nav>