<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-md-4 col text-center">
      <button (click)="goBack()" type="button" class="btn rtrn">
        <div class="input-group-addon">
          <i class="fa fa-chevron-left"></i>Επιστροφή στην Προηγούμενη Σελίδα</div>
      </button>
    </div>
    <div class="col-sm text-center">
      <u>{{category.name}}</u>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-4 col-6 text-center">
      <img class="image" src="{{category.img}}">
      <div class="details">
        <agm-map [latitude]="category.lat" [longitude]="category.lng" [scrollwheel]="true" [zoom]="13">
          <agm-marker [latitude]="category.lat" [longitude]="category.lng"></agm-marker>
        </agm-map>
      </div>
      <div *ngIf="userDetailsService.getUserType() === 'Anonymous'" >
        <button type="button" class="btn buy" disabled>Αγορά Eισιτηρίου</button>
      </div>
      <div *ngIf="userDetailsService.getUserType() === 'Parent'" >
          <button (click)="onTicketBuy()" type="button" class="btn buy" enabled >Αγορά Eισιτηρίου</button>
      </div>
      
      <div>
        Κόστος: {{eventDetails.id}} Πόντοι
      </div>
    </div>
    <div class="col">
      <div class="details">
        <u>Τοποθεσία: </u>{{eventDetails.location}}
      </div>
      <div class="details">
        <u>Ημερομηνία:</u> {{eventDetails.date}}
      </div>
      <div class="details">
        <u>Κατηγορίες:</u> {{zaxos.toString()}}
      </div>
      <div class="details">
        <u>Ηλικίες:</u> {{eventDetails.age_min}} - {{eventDetails.age_max}}
      </div>
      <div class="details">
        <u>Πάροχος:</u> 
        {{eventDetails.providerInfo.cname}} 
        {{eventDetails.providerInfo.fname}} 
        {{eventDetails.providerInfo.lname}}
        {{eventDetails.providerInfo.phoneNum}}
      </div>
      <div class="details">
        <u>Διαθέσιμα εισιτήρια:</u> {{eventDetails.available_tickets}}
      </div>
      <u>Περιγραφή:</u> 
      <div class="border border-secondary">
        <span class="description">
            {{eventDetails.description}}
        </span>
      </div>
    </div>
  </div>
</div>