<div class="modal fade" id="register-parent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Εγγραφή Γονέα</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" [formGroup]="formRegisterParent" (ngSubmit)="doRegisterProvider()">
                <div class="row">
                    <div class="col-md-3 field-label-responsive">
                        <label class="control-label required" for="parent_name">Όνομα:</label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <input type="text" id="parent_name" class="form-control" formControlName="parent_name" 
                                        placeholder="Λεωνίδας" required autofocus>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-control-feedback">
                            <span class="text-danger align-middle">
                                <!-- Put name validation error messages here -->
                                <div *ngIf="formRegisterParent.get('parent_name').hasError('required')">
                                    Απαραίτητο πεδίο!
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 field-label-responsive">
                        <label class="control-label required" for="parent_lastname">Επίθετο:</label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <input type="text" id="parent_lastname" class="form-control" formControlName="parent_lastname" 
                                        placeholder="Αλόγου" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-control-feedback">
                            <span class="text-danger align-middle">
                                <!-- Put name validation error messages here -->
                                <div *ngIf="formRegisterParent.get('parent_lastname').hasError('required')">
                                    Απαραίτητο πεδίο!
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 field-label-responsive">
                        <label class="control-label required" for="parent_location">Διεύθυνση Κατοικίας:</label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-map-marker"></i></div>
                                <input type="text" id="parent_location" class="form-control" formControlName="parent_location" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 field-label-responsive">
                        <label class="control-label required" for="parent_phone">Τηλέφωνο Επικοινωνίας:</label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-phone"></i></div>
                                <input type="text" id="parent_phone" class="form-control" formControlName="parent_phone" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 field-label-responsive">
                        <label class="control-label required" for="parent_username">Username:</label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                                <input type="text" id="parent_username" class="form-control" formControlName="parent_username" 
                                        placeholder="JohnPapa" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-control-feedback">
                            <span class="text-danger align-middle">
                                <!-- Put name validation error messages here -->
                                <div *ngIf="formRegisterParent.get('parent_username').hasError('required')">
                                    Απαραίτητο πεδίο!
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 field-label-responsive">
                        <label class="control-label required" for="parent_email">E-Mail:</label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                                <input type="text" id="parent_email" class="form-control" formControlName="parent_email"
                                        placeholder="you@example.com" required autofocus>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-control-feedback">
                            <span class="text-danger align-middle">
                                <!-- Put e-mail validation error messages here -->
                                <div *ngIf="(!formRegisterParent.controls['parent_email'].valid)&&(formRegisterParent.get('parent_email').touched)">
                                    Oops, wrong pattern buddy!
                                </div>                        
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 field-label-responsive">
                        <label class="control-label required" for="parent_password">Κωδικός:</label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group has-danger">
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                                <input type="password" id="parent_password" class="form-control" formControlName="parent_password"
                                        placeholder="Password" [(ngModel)]="pass" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-control-feedback">
                            <span class="text-danger align-middle">
                                <!-- <i class="fa fa-close"> Example Error Message</i> -->
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 field-label-responsive">
                        <label class="control-label required" for="parent_confirm_password">Επιβεβαίωση Κωδικού:</label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <div class="input-group-addon" style="width: 2.6rem">
                                    <i class="fa fa-repeat"></i>
                                </div>
                                <input type="password" id="parent_confirm_password" class="form-control" formControlName="parent_confirm_password" 
                                        placeholder="Password" [(ngModel)]="conf_pass" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-control-feedback">
                            <span class="text-danger align-middle">
                                <!-- <i class="fa fa-close"> Example Error Message</i> -->
                                <div *ngIf="(formRegisterParent.get('parent_confirm_password').touched)&&(pass !== conf_pass)">
                                    Οι κωδικοί δεν ταιριάζουν!
                                </div> 
                            </span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" [disabled]="formRegisterParent.invalid"><i class="fa fa-user-plus"></i> Εγγραφή</button>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>