<div class="container-fluid text-center">
  <div>
    Όνομα: Μπάμπης
  </div>
  <div>
    Επίθετο: Μπάμπης
  </div>
  <div>
    Διεύθυνση:
    

    
        <div class="field-label-responsive">
            <label for="location">Διεύθυνση κατοικίας</label>
        </div>

        <div>Μπάμπης</div>
        <input type="text" size="10" id="parent_location" class="form-control" formControlName="location" required>
        
        
    





  </div>
  <div>
    Τηλέφωνο: Μπάμπης
  </div>
  <div>
    Email: Μπάμπης
  </div>
  <div>
    Πόντοι: Μπάμπης
  </div>
</div>
