/* Page Layout */

.container-fluid {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Content */

.form-control {
    font-size: 85%;
}

.field-label-responsive{
    text-align: center;
}

.control-label.required:after { 
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 5px;
}