<div class="container-fluid" >
  <div class="title" style="text-align:center">Admin Panel</div>
  <br><br>
</div>

<div class="container">
<h5>Κλείδωμα Χρήστη</h5>
<br>
<form>
  <div class=" row">
    <label for="smFormGroupInput" class="col-form-label col-12 ">username</label>
    <div class="col-3"></div>
    <div class="col-6 form-group">
      <input type="text" (keyup)="onNameKeyUp($event)" class="form-control form-control-sm" id="smFormGroupInput">
    </div>
    <div class="col-3"></div>

    <div class="col-12 ">
      <input type="radio" name="type" value="parent" id="a" checked (click)="temp = 'user'">
        Γονέας
        &nbsp;&nbsp;
      <input type="radio" name="type" value="provider" id="b" (click)="temp = 'provider'">
        Πάροχος
    </div>
  </div>
</form>
</div>

<div class="container-fluid color-light">
  <div class="row">
    <div class="container">
        <div class="row">
          <div class="col-md-2 col-lg-3"></div>
            <div class="col-md-8 col-lg-6">
            </div>
        </div>
    
        <div class="row">
          <div class="col-md-3 col-lg-4"></div> 
          <div class="col-md-3 col-lg-2">
            <button (click)="lock()" type="button" class="btn">Κλείδωμα Χρήστη</button>
          </div>
          <div class="col-md-3 col-lg-2">
            <button (click)="lock()" class="btn">Ξεκλείδωμα Χρήστη</button>
          </div>
        </div>
    </div>
  </div>
</div>

<br><br><br>

<div class="container">
<h5>Ενεργοποίηση Λογαριασμού Παρόχου</h5>
<form>
  <div class=" row">
    <label for="smFormGroupInput" class="col-form-label col-12 ">Username Παρόχου</label>
    <div class="col-3"></div>
    <div class="col-6 form-group">
      <input type="text" (keyup)="onNameKeyUpProvider($event)" class="form-control form-control-sm" id="smFormGroupInput">
    </div>
    <div class="col-3"></div>
  </div>
</form>
<div class="row">
    <div class="col-md-3 col-lg-4"></div> 
    <div class="col-md-3 col-lg-2">
      <button (click)="activateProvider()" type="button" class="btn">Ενεργοποίηση Λογαριασμού Παρόχου</button>
    </div>
  </div>
</div>
  

