<div class="container-fluid">
    <div class="container">
    <div>
        <button type="button" id="parent" class="btn btn-primary" data-toggle="modal" data-target="#register-parent">
            Εγγραφή ως γονέας
        </button>
    </div>
    <div>
        <button type="button" id="provider" class="btn btn-primary" data-toggle="modal" data-target="#register-provider">
            Εγγραφή ως πάροχος
        </button>
    </div>
    </div>
</div>

<!-- Γονέας -->
<app-register-parent></app-register-parent>

<!-- Πάροχος -->
<app-register-provider></app-register-provider>